[submodule "Heat/vendor/spdlog"]
	path = Heat/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Heat/vendor/GLFW"]
	path = Heat/vendor/GLFW
	url = https://github.com/Akorra/glfw.git
[submodule "Heat/vendor/imgui"]
	path = Heat/vendor/imgui
	url = https://github.com/Akorra/imgui.git
